body{
    margin: 1rem 2rem;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

/* styles.css */
.hidden {
    display: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.border-grid {
    display: grid; /* or display: flex */
    /* Additional layout properties */
}

.error {
    color: red;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
}

.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .2px solid black;
    background-color: rgba(250, 255, 187,.5);
    margin-top: 2rem;
    padding: 1rem;
}

.country-card img{
    width: 200px;
    border: 1px solid black;
}

.border-grid{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    background-color: rgba(250, 255, 187,.5);
    padding: 2rem;
    border: .2px solid black;
}